<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="polar.island.inlay.dict.dao.DictDao">
	<!-- 列表的列名 -->
	<sql id="listColumns">
			a.id AS "id",
			a.groupName AS "groupName",
			a.groupId AS "groupId",
			a.text AS "text",
			a.value AS "value",
			a.remark AS "remark",
			a.orderNum AS "orderNum"
	</sql>
	<!-- 详情的列名 -->
	<sql id="detailColumns">
			a.id AS "id",
			a.groupName AS "groupName",
			a.groupId AS "groupId",
			a.text AS "text",
			a.value AS "value",
			a.remark AS "remark",
			a.orderNum AS "orderNum"
	</sql>
	<!-- 表名,可能查询时会和一些其他的表关联 -->
	<sql id="tables">
		t_polar_dict a
	</sql>
	<!-- 表名 -->
	<sql id="table">
		t_polar_dict
	</sql>
	<!-- 查询多条数据时的条件 -->
	<sql id="searchMultiWheres">
		<where>
			<if test="id != null and id != ''">
				AND a.id=#{id}
			</if>
			<if test="groupName != null and groupName != ''">
				AND a.groupName like
				<choose>
					<when test="'${polar_dataBaseType}' == 'sqlServer'">
						'%'+#{groupName}+'%'
					</when>
					<otherwise>
						concat('%',#{groupName},'%')
					</otherwise>
				</choose>
			</if>
			<if test="groupId != null and groupId != ''">
				AND a.groupId=#{groupId}
			</if>
			<if test="text != null and text != ''">
				AND a.text like
				<choose>
					<when test="'${polar_dataBaseType}' == 'sqlServer'">
						'%'+#{text}+'%'
					</when>
					<otherwise>
						concat('%',#{text},'%')
					</otherwise>
				</choose>
			</if>
			<if test="value != null and value != ''">
				AND a.value like
				<choose>
					<when test="'${polar_dataBaseType}' == 'sqlServer'">
						'%'+#{value}+'%'
					</when>
					<otherwise>
						concat('%',#{value},'%')
					</otherwise>
				</choose>
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark like
				<choose>
					<when test="'${polar_dataBaseType}' == 'sqlServer'">
						'%'+#{remark}+'%'
					</when>
					<otherwise>
						concat('%',#{remark},'%')
					</otherwise>
				</choose>
			</if>
			<if test="orderNum != null">
				AND a.orderNum=#{orderNum}
			</if>
		</where>
	</sql>
	<!-- 查询单条数据时的条件 -->
	<sql id="searchOneWheres">
		<where>
			<if test="id != null and id != ''">
				AND a.id=#{id}
			</if>
			<if test="groupName != null and groupName != ''">
				AND a.groupName=#{groupName}
			</if>
			<if test="groupId != null and groupId != ''">
				AND a.groupId=#{groupId}
			</if>
			<if test="text != null and text != ''">
				AND a.text=#{text}
			</if>
			<if test="value != null and value != ''">
				AND a.value=#{value}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark=#{remark}
			</if>
			<if test="orderNum != null">
				AND a.orderNum=#{orderNum}
			</if>
		</where>
	</sql>	
	<!-- 排序条件 -->
	<sql id="orderCondition">
		<choose>
			<when test="sort !=null and sort !=''">
				order by
				<choose>
					<when test="sort=='groupName'">a.groupName ${order}</when>
					<when test="sort=='groupId'">a.groupId ${order}</when>
					<when test="sort=='text'">a.text ${order}</when>
					<when test="sort=='value'">a.value ${order}</when>
					<when test="sort=='orderNum'">a.orderNum ${order}</when>
					<when test="sort=='remark'">a.remark ${order}</when>
					<!--默认排序，条件都不满足时，使用此条件，其兼容sqlserver的排序 -->
					<otherwise>(select 0)</otherwise>
				</choose>
			</when>
			<otherwise>
				<choose>
					<when test="'${polar_dataBaseType}' == 'sqlServer'">
						order by (SELECT 0)
					</when>
				</choose>
			</otherwise>
		</choose>
	</sql>
	<!-- 删除条件(物理删除的删除条件) -->
	<sql id="deletePhysicalWheres">
		WHERE 1!=1
		<trim prefix="OR" prefixOverrides="AND">
			<if test="id != null and id != ''">
				AND id=#{id}
			</if>
				<if test="groupName != null and groupName != ''">
					AND groupName=#{groupName}
				</if>
				<if test="groupId != null and groupId != ''">
					AND groupId=#{groupId}
				</if>
				<if test="text != null and text != ''">
					AND text=#{text}
				</if>
				<if test="value != null and value != ''">
					AND value=#{value}
				</if>
				<if test="remark != null and remark != ''">
					AND remark=#{remark}
				</if>
				<if test="orderNum != null">
					AND orderNum=#{orderNum}
				</if>
		</trim>
	</sql>
	<insert id="insert" parameterType="java.util.Map"  useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		<include refid="table" />
		(
			groupName,
			groupId,
			text,
			value,
			remark,
			orderNum
		) VALUES (
			#{groupName},
			#{groupId},
			#{text},
			#{value},
			#{remark},
			#{orderNum}
		)
	</insert>
	<!-- 查询一条数据(依据数据编号) -->
	<select id="selectOneById" resultType="DictEntity"
		parameterType="string">
		SELECT
		<include refid="detailColumns" />
		FROM
		<include refid="tables" />
		where a.id=#{id}
	</select>
	<!-- 查询一条数据（依据查询条件） -->
	<select id="selectOneByCondition" resultType="DictEntity"
		parameterType="string">
		SELECT
		<include refid="detailColumns" />
		FROM
		<include refid="tables" />
		<include refid="searchOneWheres" />
	</select>
	<!-- 查询集合 -->
	<select id="selectList" resultType="DictEntity"
		parameterType="java.util.Map">
		SELECT
		<include refid="listColumns" />
		FROM
		<include refid="tables" />
		<include refid="searchMultiWheres" />
		<include refid="orderCondition" />
	</select>
	<!-- 查询带有分页的列表 -->
	<select id="selectPageList" resultType="DictEntity"
		parameterType="java.util.Map">
		<choose>
			<when test="'${polar_dataBaseType}' == 'oracle'">
				SELECT * FROM (
			  		select rownum rowsize,innertable.* from
					(
						SELECT <include refid="listColumns" />
						FROM <include refid="tables" />
						<include refid="searchMultiWheres" />
						<include refid="orderCondition" />
					) innertable
				)
				WHERE rowsize > #{pageStartNumber} and rowsize &lt;= #{pageOffsetNumber}
			</when>
			<when test="'${polar_dataBaseType}' == 'sqlServer'">
				SELECT TOP ${rows} A.*
				FROM
				(
				SELECT
				ROW_NUMBER() OVER (<include refid="orderCondition" />) AS RowNumber,
				<include refid="listColumns" />
				FROM <include refid="tables" />
				<include refid="searchMultiWheres" />
				)   as A
				WHERE RowNumber > #{pageStartNumber}
			</when>
			<otherwise>
				SELECT
				<include refid="listColumns" />
				FROM
				<include refid="tables" />
				<include refid="searchMultiWheres" />
				<include refid="orderCondition" />
				limit #{pageStartNumber},#{pageOffsetNumber}
			</otherwise>
		</choose>
	</select>
	<!-- 依据条件查询符合条件的数量 -->
	<select id="selectCount" resultType="long" parameterType="java.util.Map">
		SELECT count(a.id)
		FROM
		<include refid="tables" />
		<include refid="searchMultiWheres" />
	</select>
	<!-- 依据编号更新数据，所有字段都更新。 -->
	<update id="updateAll" parameterType="java.util.Map">
		update
		<include refid="table" />
		set
			groupName=#{groupName},
			groupId=#{groupId},
			text=#{text},
			value=#{value},
			remark=#{remark},
			orderNum=#{orderNum}
		where id=#{id}
	</update>
	<!-- 依据编号更新数据，更新存在的字段,有效性字段也可更新。 -->
	<update id="updateField" parameterType="java.util.Map">
		update
		<include refid="table" />
		<trim prefix="set" prefixOverrides=",">
				<if test="_parameter.containsKey('groupName')">
					,groupName=#{groupName}
				</if>
				<if test="_parameter.containsKey('groupId')">
					,groupId=#{groupId}
				</if>
				<if test="_parameter.containsKey('text')">
					,text=#{text}
				</if>
				<if test="_parameter.containsKey('value')">
					,value=#{value}
				</if>
				<if test="_parameter.containsKey('remark')">
					,remark=#{remark}
				</if>
				<if test="_parameter.containsKey('orderNum')">
					,orderNum=#{orderNum}
				</if>
		</trim>
		where id=#{id}
	</update>
	<!-- 依据编号物理删除 -->
	<delete id="deleteByIdPhysical" parameterType="string">
		delete from
		<include refid="table" />
		where id=#{id}
	</delete>
	<!-- 依据条件物理删除 -->
	<delete id="deleteByConditionPhysical" parameterType="string">
		delete from
		<include refid="table" />
		<include refid="deletePhysicalWheres" />
	</delete>
	<!-- 查询所有的组信息 -->
	<select id="allGroups" resultType="polar.island.core.entity.DictEntity" >
		select DISTINCT groupName AS "text",groupId AS "value" from <include refid="table" />
		order by groupName asc
	</select>
	
	<!-- 依据组编号查询组信息 -->
	<select id="findDictById" resultType="polar.island.core.entity.DictEntity" parameterType="string">
		SELECT text AS "text",value as "value"
		FROM
		<include refid="table" />
		where groupId=#{id}
		order by orderNum asc
	</select>
</mapper>